<!DOCTYPE html>
{% load humanize %}
<html>
  <head>
    <title>expensifly</title>
    {% include "record/meta.html" %}
  </head>

  <body>
    {% include "record/nav.html" %}

    <!-- alert, if included in view -->
    <div class="container" style="padding-top: 15px;">
      {% if message %}
        <div class="alert alert-dismissable alert-{{ message_type }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p>{{ message|safe }}</p>
        </div>
      {% endif %}
    </div>

    <!-- body content -->
    {% block body %}
    {% endblock %}

    <div style="padding-bottom: 30px;"></div>

  </body>

</html>
