{% extends "record/base.html" %}

{% load humanize %}


{% block body %}
  <div class="container">
    <h1>{{request.session.selected_date|date:"Y" }} total: ${{ total_year|floatformat:0|intcomma }}</h1>

    <h2>your {{ request.session.selected_date|date:"F" }}</h2>
    <h4>total: {{ total_month|intcomma }}</h4>
    <ol>
      {% for category, amount in total_categories.amount.items %}
        <li><a href="{% url 'record:category' category %}">{{ category }}</a>: {{ amount|intcomma }}</li>
      {% endfor %}
    </ol>

    <h4>snapshot</h4>

    <div id="categoryBarChart-container">{{ chart|safe }}</div>
    <br>
  </div>
{% endblock %}
