{% extends "record/base.html" %}

{% load humanize %}


{% block body %}
  <div class="container">
    <h1>{{ request.session.selected_date|date:"Y" }}</h1>
    <ul style="list-style-type: none;">
      <li><h5>out: <span class="expense">${{ expense_year|floatformat:0|intcomma }}</span> {% if income_year > 0 %}| in: <span class="income">${{ income_year|floatformat:0|intcomma }}</span></h5></li>
      <li><h5>net: ${{ net_year|floatformat:0|intcomma }}</li>{% endif %}
    </ul>

    <h2>{{ request.session.selected_date|date:"F" }}</h2>
    <ul style="list-style-type: none;">
      <li><h5>out: <span class="expense">{{ expense_total_period|intcomma }}</span>{% if income_total_period > 0 %} | in: <span class="income">{{ income_total_period|intcomma }}</span></h5></li>
      <li><h5>net: {{ net_period|intcomma }}</h5></li>{% endif %}
    </ul>
    <h3>where is it going</h3>
    <ol style="list-style-type: none;">
      {% for category, amount in expense_categories.amount.items %}
        <li><a href="{% url 'record:category' category %}">{{ category }}</a>: {{ amount|intcomma }}</li>
      {% endfor %}
    </ol>

    <h3>cash flow snapshot</h3>
    <div id="cumsumChart-container">{{ cumsum_chart|safe }}</div>

  </div>
{% endblock %}
