{% extends "record/base.html" %}


{% block body %}

  <div class="container">
    <h1>{{ form_type }}</h1>

    {% if form_type == 'edit' %}
      <form action="{% url 'record:edit' tx_id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <hr>
        <form action="{% url 'record:delete' tx_id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger">Delete - THIS CANNOT BE UNDONE</button>
      </form>
    {% elif form_type == 'expense' %}
      <form action="{% url 'record:expense' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </form>
    {% elif form_type == 'income' %}
      <form action="{% url 'record:income' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </form>
    {% endif %}
  </div>

  <script>
    $(function () {
      $("#id_date").datepicker({
        format:'YYYY-MM-DD',
      });
    });
  </script>

{% endblock %}
