{% extends "record/base.html" %}
{% load humanize %}
{% block body %}
  <div class="container">
    <h1>{{ request.session.selected_date|date:"F Y" }}

    <div class="btn-group" role="group">
      <a href="#income" type="button" class="btn btn-outline-success">Jump down to incomes</a>
    </div>
    </h1>
    <br>

    <!-- expense table -->
    <h2 id="expense">{{ transactions.heading }} Expense Total: <span class="expense">${{ transactions.expense_total_period|floatformat:2|intcomma }}</span></h2>

    <div class="table-responsive-sm">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Category</th>
          <th scope="col">Method</th>
          <th scope="col">Is discretionary</th>
          <th scope="col">Comment</th>
          <th scope="col"></th>
        </thead>
        {% for item in transactions.transactions %}
          <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.method }}</td>
            <td>{{ item.budgeted|yesno:"No,Yes" }}</td>
            <td>{{ item.comment }}</td>
            <td><a href="{% url 'record:edit' 'expense' item.id %}" class="btn btn-outline-primary">edit</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <!-- income table -->
    <h2 id="income">{{ transactions.heading }} Income Total: <span class="income">${{ transactions.income_total_period|floatformat:2|intcomma }}</span></h2>

    <div class="table-responsive-sm">
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Source</th>
          <th scope="col"></th>
        </thead>

        {% for income in transactions.income_tx %}
        <tr>
          <td>{{ income.date }}</td>
          <td>{{ income.amount }}</td>
          <td>{{ income.source }}</td>
          <td><a href="{% url 'record:edit' 'income' income.id %}" class="btn btn-outline-primary">edit</a></td>
        </tr>
        {% endfor %}

      </table>
    </div>

  </div>
{% endblock %}
