{% extends "record/base.html" %}
{% block body %}
  <div class="container">
    <h1>Summary - {{ selected_date|date:"F Y" }}</h1>
    <h2>MTD: ${{ totals.month }}</h2>

    <h4>YTD: ${{ totals.year }}</h4>



    <h5>Transaction List</h5>
    <table class="table table-hover">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Comment</th>
      </tr>
      {% for item in tx %}
        <tr>
          <td>{{ item.date }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.comment }}</td>
        </tr>
      {% endfor %}
    </table>

    <h2>Past Months</h2>
    {% for month in months %}
      <a href="{% url 'view:index' month.year month.month %}">{{ month|date:"F Y" }}</a><br>
    {% endfor %}


    <hr>

    <a href="{% url 'record:index' %}">Record new tx</a>
  </div>
{% endblock %}
