{% extends "record/base.html" %}
{% block body %}
  <div class="container">
    <h1>home - overview</h1>

    <h2>{{ request.session.SELECTED_DATE|date:"F Y" }} spending: ${{ totals.month|floatformat:2 }}</h2>
    <h3>top 3 categories</h3>
    <ol>
      {% for category, amount in top_cats.amount.items %}
        <li>{{ category }}: ${{ amount|floatformat:0 }}</li>
      {% endfor %}
    </ol>

    <h3>snapshot</h3>
    <p>insert quick-look here</p>
    <br>
    <div class="testing">
    </div>
  </div>
{% endblock %}
